body {
    background-color: #202124;
    height: 100%;
}

h1 {
    color: #ffffff;
}

p {
    color: #ffffff;
}

button {
    background-color: #555555;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
}

button:hover {
    background-color: #444444;
}