body {
    background-color: #202124;
    height: 100%;
}

h1 {
    color: #ffffff;
}

h2 {
    color: #ffffff;
}

p {
    color: #ffffff;
}

input {
    color: #ffffff;
    background-color: #444444;
}

textarea {
    color: #ffffff;
    background-color: #444444;
}

button {
    background-color: #555555;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
}

button:hover {
    background-color: #444444;
}

a {
    color: #ffffff;
}

a:hover,
a:visited,
a:link,
a:active {
    text-decoration: none;
}

a:hover {
    color: #cccccc;
}